---
import Image from "astro/components/Image.astro";
import AboutCard from "../components/AboutCard.astro";
import community from "../assets/icons/community_icon.svg";
import birth from "../assets/icons/birth_icon.svg";
import compass from "../assets/icons/compass_icon.svg";
import mission from "../assets/icons/mission_icon.svg";
import mission2 from "../assets/icons/mission-2_icon.svg";
---

<section
  id="card-section"
  class="card-section w-full max-w-screen-2xl mx-auto mb-20"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-36 justify-items-center">
    <AboutCard class="relative flex flex-col justify-center gap-6">
      <div
        slot="icon"
        class="absolute -top-15 right-1/2 translate-x-1/2 flex flex-col justify-center items-center gap-4"
      >
        <Image src={community} alt="Community Icon" width={126} height={126} />
        <h3 slot="title" class="font-heading text-2xl text-primary/80">
          Community
        </h3>
      </div>
      <p
        slot="body"
        class="font-body text-xl text-text text-center px-12 leading-normal"
      >
        MTGA Artisan is an international community dedicated to the Artisan
        format of Magic: The Gathering Arena, a strategic and accessible format
        that highlights creativity, skill, and passion through the exclusive use
        of common and uncommon cards.
      </p>
    </AboutCard>
    <AboutCard class="relative flex flex-col justify-center gap-6">
      <div
        slot="icon"
        class="absolute -top-15 right-1/2 translate-x-1/2 flex flex-col justify-center items-center gap-4"
      >
        <Image src={birth} alt="Community Icon" width={126} height={126} />
        <h3 slot="title" class="font-heading text-2xl text-primary/80">
          Birth
        </h3>
      </div>
      <p
        slot="body"
        class="font-body text-xl text-text text-center px-12 leading-normal"
      >
        The community was founded on 25 May 2024 on Discord.
      </p>
    </AboutCard>
    <AboutCard class="relative flex flex-col justify-center gap-6">
      <div
        slot="icon"
        class="absolute -top-15 right-1/2 translate-x-1/2 flex flex-col justify-center items-center gap-4"
      >
        <Image src={compass} alt="Community Icon" width={126} height={126} />
        <h3 slot="title" class="font-heading text-2xl text-primary/80">
          Values
        </h3>
      </div>
      <ul
        slot="body"
        class="font-body text-[1.125rem] text-text text-center px-12 leading-normal"
      >
        <li>
          • Inclusivity – an open, international, and multicultural community
        </li>
        <li>
          • Accessibility – an affordable and sustainable format for everyone
        </li>
        <li>• Knowledge sharing – learning together, growing together</li>
        <li>• Healthy competition – respect, fair play, and sportsmanship</li>
        <li>• Passion – genuine love for Magic and the Artisan format</li>
      </ul>
    </AboutCard>
    <AboutCard class="relative flex flex-col justify-center gap-6">
      <div
        slot="icon"
        class="absolute -top-15 right-1/2 translate-x-1/2 flex flex-col justify-center items-center gap-4"
      >
        <Image src={mission} alt="Community Icon" width={126} height={126} />
        <h3 slot="title" class="font-heading text-2xl text-primary/80"></h3>
      </div>
      <p
        slot="body"
        class="font-body text-xl text-text text-center px-12 leading-normal"
      >
      </p>
    </AboutCard>
    <AboutCard
      class="md:col-span-2 md:justify-self-center relative flex flex-col justify-center gap-6"
    >
      <div
        slot="icon"
        class="absolute -top-15 right-1/2 translate-x-1/2 flex flex-col justify-center items-center gap-4"
      >
        <Image src={mission2} alt="Community Icon" width={126} height={126} />
        <h3 slot="title" class="font-heading text-2xl text-primary/80"></h3>
      </div>
      <p
        slot="body"
        class="font-body text-xl text-text text-center px-12 leading-normal"
      >
      </p>
    </AboutCard>
  </div>
</section>
