---
import art1 from "../assets/art1.webp";

interface Props {
  title?: string;
  excerpt?: string;
  imageUrl?: string;
  href?: string;
}

const {
  title = "Titolo articolo",
  excerpt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  imageUrl = art1.src,
  href = "#",
} = Astro.props;
---

<article
  class="card w-full aspect-[455/297] md:aspect-[860/441] rounded-[32px]"
>
  <div
    class="group relative flex items-end justify-center w-full h-full rounded-[32px] overflow-hidden shadow-lg"
    style={`background-image: url('${imageUrl}'); background-size: cover; background-position: center;`}
    aria-label={title}
  >
    <div
      class="w-11/12 mx-auto flex items-center justify-between bg-background rounded-[40px] mb-5 md:mb-8"
    >
      <div
        class="relative z-10 p-6 flex flex-col gap-2 md:gap-3 text-text flex-1 min-w-0 h-[118px] md:h-[158px]"
      >
        <h3
          class="text-sm md:text-xl font-heading font-medium leading-snug md:mb-3"
        >
          {title}
        </h3>
        <p class="text-xs md:text-base font-body leading-normal text-white/90">
          {excerpt}
        </p>
      </div>
      <a
        href={href}
        class="rounded-3xl px-5 py-3 mr-7 font-body shrink-0"
        aria-label={`Read more about ${title}`}>More</a
      >
    </div>
  </div>
</article>

<style>
  .card,
  a {
    color: var(--color-text);
    box-shadow: 0 0 10px 5px var(--color-primary);
  }
</style>
